.carousel {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-light{
    background-color: #fff;
    color: #000;
}

.carousel-dark {
    background-color: #333;
    color: #fff;
}

.carousel-primary {
    background-color: #fff;
    color: #003AD0;
}

.carousel-secondary {
    background-color: #6c757d;
    color: #fff;
}

.carousel-small {
    padding: 8px 8px 0 8px;
    width: 15rem;
}

.carousel-medium {
    padding: 16px 16px 1px 16px;
    width: 25rem;
}

.carousel-large {
    padding: 24px 24px 2px 24px;
    width: 40rem;
}

.carousel-very-large {
    padding: 32px 32px 10px 32px;
    width: 50rem;
}

.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.carousel-actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-actions-thumb-line-image {
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 4px 0 4px;
}

.carousel-actions-thumb-image {
    width: 10%;
    height: auto;
    border-radius: 8px;
    margin: 0 10px 0 10px;
    transition: opacity 0.1s ease-in-out;
    margin: 5px;
    cursor: pointer;
}

.carousel-actions-button-left-custom {
    margin-right: 3px;
}

.carousel-actions-button-right-custom {
    margin-left: 3px;
}

.carousel-actions-button-left-small {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 3px;
    border-right: 13px solid #003AD0;
}

.carousel-actions-button-right-small {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
    margin-left: 4px;
    margin-bottom: 3px;
    border-left: 13px solid #003AD0;
}

.carousel-actions-button-left-medium {
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
    border-right: 20px solid #003AD0;
}

.carousel-actions-button-right-medium {
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    cursor: pointer;
    margin-left: 4px;
    margin-bottom: 4px;
    border-left: 20px solid #003AD0;
}

.carousel-actions-button-left-large {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
    border-right: 25px solid #003AD0;
}

.carousel-actions-button-right-large {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    cursor: pointer;
    margin-left: 4px;
    margin-bottom: 4px;
    border-left: 25px solid #003AD0;
}

.carousel-actions-button-left-very-large {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    cursor: pointer;
    margin-right: 4px;
    border-right: 30px solid #003AD0;
}

.carousel-actions-button-right-very-large {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    cursor: pointer;
    margin-left: 4px;
    border-left: 30px solid #003AD0;
}

.carousel-actions-thumb-line-point {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 8px 0;
}

.carousel-actions-thumb-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgray;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-actions-thumb-point-very-large {
    width: 15px;
    height: 15px;
}

.carousel-actions-thumb-point-large {
    width: 12px;
    height: 12px;
}

.carousel-actions-thumb-point-medium {
    width: 10px;
    height: 10px;
}

.carousel-actions-thumb-point-small {
    width: 6px;
    height: 6px;
}

.carousel-actions-thumb-point-blue {
    background-color: #003AD0;
}
