/* ТЕСТ */
.carousel {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.carousel-light{
    background-color: #fff;
    color: #000;
}

.carousel-dark {
    background-color: #333;
    color: #fff;
}

.carousel-primary {
    background-color: #fff;
    color: #003AD0;
}

.carousel-secondary {
    background-color: #6c757d;
    color: #fff;
}

.carousel-small {
    padding: 8px 8px 0 8px;
    width: 15rem;
}

.carousel-medium {
    padding: 16px 16px 1px 16px;
    width: 25rem;
}

.carousel-large {
    padding: 24px 24px 2px 24px;
    width: 40rem;
}

.carousel-very-large {
    padding: 32px 32px 10px 32px;
    width: 50rem;
}

.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}

.carousel-actions {
    text-align: center;
}

.carousel-actions-input {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 10px;
}
